
.main{
    color: #fff;
}

.main img{
    height: 20rem;
    width: 100%;
    object-fit: cover;

    filter: brightness(80%);
}

.main .title{
    font-size: 2rem;
    font-weight: bold;
    margin: .5rem 0;
}

.main .description{
    filter: brightness(70%);
}

.buy{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0;
}

.price{
    font-weight: bold;
    font-size: 2rem;
}

.price span{
    color: var(--secondary-color);
}

.button{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: bold;
    padding: .5rem 3rem;
    border-radius: 1rem;
    display: block;
    margin: 1rem auto;
}