
.main{
    color: #fff;
}

.main img{
    width: 15rem;
    object-fit: cover;
    border-radius: .5rem;
    margin: auto;

    /* filter: brightness(80%); */
}

.main__info{
    display: flex;
    gap: 1rem;
}

.main .title{
    font-size: 2rem;
    font-weight: bold;
    /* margin: .5rem 0; */
}

.title_div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main .description{
    filter: brightness(70%);
}

.buy{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0;
}

.price{
    font-weight: bold;
    font-size: 2rem;
}

.price span{
    color: var(--secondary-color);
}

.button{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1rem;
    display: block;
    margin: 1rem auto;
}

.button a{
    display: inline-block;
    padding: .5rem 3rem;
    height: 100%;
    width: 100%;
}

@media (max-width: 650px) {
    .main__info{
        flex-direction: column;
    }
}