

.history_page__title{
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin-bottom: .5rem;
}


.auth{
    text-align: center;
    color: #fffa;
}

.auth a{
    color: var(--secondary-color);
    text-decoration: underline;
}

.no_favs{
    text-align: center;
    color: #fffa;
}