
.product_item{
    display: flex;
    background-color: var(--tertiary-color);
    gap: 1rem;
    border-radius: .5rem;
    padding: .5rem 1rem;
}

.product_item__image{
    flex-grow: 1;
    max-width: 6rem;
}

.product_item__image img{
    border-radius: 1rem;
}

.product_item__info{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.product_item__info h3{
    font-weight: bold;
    /* font-size: 1.5rem; */
}

.product_item__info div{
    /* font-size: 1.5rem; */
    display: flex;
    gap: 1px;
}

.product_item__info div span{
    color: var(--secondary-color);
}

.product_item__info div div:first-child{
    flex-grow: 2;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    border-radius: 1.5rem 0 0 1.5rem;
    padding: .5rem .5rem;
}

.product_item__info div div:last-child{
    flex-grow: 1;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    border-radius: 0 1.5rem 1.5rem 0;
    padding: .5rem .5rem;
}

.product_item__total{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 1.5rem; */
    font-weight: bold;
}

.product_item__total span{
    color: var(--secondary-color);
}

@media (min-width: 380px) {
    .product_item{
        font-size: 1.5rem;
    }
}
