@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* variables */
  --primary-color: #0C1013;
  --secondary-color: #00FFD1;
  --tertiary-color: #121B22;

  --white: #fff;
  --black: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    background-color: var(--primary-color);
    color: var(--white);
}

h2{
  color: var(--white);
}

/* APP STYLES */
.container{
  max-width: 60rem;
  margin: auto;
  padding: 0 .5rem;
}

form{
  max-width: 40rem;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

form div{
  display: flex;
  flex-direction: column;
}

form div label{
  font-weight: bold;
}

form div input{
  background-color: transparent;
  border-radius: .5rem;
  border: 1px solid var(--white);
  padding: .5rem 1rem;
}

form div input:focus{
  outline: none;
}

form button{
  background-color: var(--tertiary-color);
  padding: .5rem 1rem;
  border-radius: .5rem;
  font-weight: bold;
}