
.h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: .5rem;
    text-align: center;
}

.search_input{
    background-color:var(--tertiary-color);
    margin: auto;
    border-radius: 1rem;
    margin-top: 1rem;
    max-width: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_input div{
    margin-left: 1rem;
}

.search_input input{
    width: 100%;
    background-color: transparent;
    padding: .5rem 1rem;
    color: #eee;
}

.search_input input:focus{
    outline: none;
}
