
.navbar{
    display: flex;
    /* max-width: 20rem; */
    z-index: 1000;
    background-color: rgba(0, 40, 40, 0.3);
    gap: 2rem;
    padding: .5rem 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(0.3rem);
}

.navbar__icon{
    height: 2rem;
    width: 2rem;
}

.navbar__icon svg{
    width: 100%;
    height: auto;
}

.navbar__icon--active{
    color: red;
}