
.item{
    max-width: 30rem;
    margin: auto;
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}

.item__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.header__fecha{
    text-align: start;
}

.header__fecha h2{
    font-weight: bold;
}

.header__fecha span{
    color: var(--secondary-color);
}

.header__total{
    text-align: end;
}

.header__total h2{
    font-weight: bold;
}

.header__total p{
    color: var(--secondary-color);
}

.item__products{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}