
.title{
    font-size: 2rem;
    /* font-weight: bold; */
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .5rem;
}

.favs{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: .5rem;
}

.auth{
    text-align: center;
    color: #fffa;
}

.auth a{
    color: var(--secondary-color);
    text-decoration: underline;
}

.no_favs{
    text-align: center;
    color: #fffa;
}