
.card{
    padding: .5rem 1rem;
    display: flex;
    gap: 1rem;
    background-color: #121B22;
    border-radius: .5rem;
}

.card__info{
    color: #fff;
}

.info-title{
    /* font-size: 1.5rem; */
    font-weight: 600;
}

.info-description{
    /* color: #616161; */
    color: #ddd;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.info-price{
    /* font-size: 2rem; */
    font-weight: bold;
}

.info-price span{
    color: var(--secondary-color);
}

.card__image img{
    border-radius: .5rem;
    max-width: 6rem;
}